<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="faves">   
    <h2>My Go to recipes</h2>
    <div>
        <ul>
            <% favorites.forEach(favorites => { %>
                <li> From: <%= favorites.source %> </li>
                <li> <%= favorites.name %> </li>
                <li><a href="<%= favorites.url %>">Get Recipe</a></li>
                <li> <img src="<%= favorites.img_url %>"width=200> </li>
                
                <!-- // post form to delete a recipe on my faves list -->
                <form method="POST" action="/favorites/<%= favorites.id %>?_method=DELETE">
                    <input type="submit" value="Delete">
                </form>
                 <!-- // post form to leave a comment from the faves list -->
                <form method="POST" action="/favorites/<%= favorites.id %>/comment">
                <div class="form-group">   
                    <input type="text" class="form-control" id="commentContent" name="content" placeholder="Leave a review" required>     
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form></br>
            <% }) %>
    
        </ul> 
    </div>
</body>
</html>