<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container">
    
    <h1>Recipe results</h1>
    <div>
        <!-- // recipe show page -->
        <% result.forEach(result=>{%>
            <div class="mom">
                <p class="dogo">
                    From: <%= result.recipe.source %></br>
                    <a href="<%= result.recipe.url %>">Get Recipe</a>
                </p></br>  
                <p class="dogo"><%= result.recipe.label %></br>
                </p></br>
                <p class="dogo">
                    Calories: <%= Math.floor(result.recipe.calories) %>
                </p></br>
                <p class="dogo">
                    <img src="<%= result.recipe.image %>"width=200>
                </p> </br>
                <p>
                    <div class="btn-primary">
                        <!-- // favorite button to add to favorite list -->
                        <form method="POST" action="/favorites">
                            <input hidden type="text" name="name" value="<%= result.recipe.label %>">
                            <input hidden type="text" name="img_url" value="<%= result.recipe.image %>">
                            <input hidden type="text" name="url" value="<%= result.recipe.url %>">
                            <input hidden type="text" name="source" value="<%= result.recipe.source %>">
                        <button class="primary" type="submit">Add to Favorite</button>
                        </form></br>  
                    </div>
                </p>
                
       
            <% }) %>
            </div>
    </div>
</body>
</html>
